includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/config.levelmax.neon

parameters:
    ignoreErrors:
        -
            message: "#Parameter \\#1 $var of function count expects array|Countable, iterable<Streamcommon\\\\Promise\\\\PromiseInterface> given.#"
            count: 1
            path: lib/ExtSwoolePromise.php